@import "tailwindcss";
@import "tailwind-scrollbar-hide/v4";

:root {
  --Background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-Background: var(--Background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-poppins: var(--font-poppins);
  --font-parisienne: var(--font-parisienne);
}
  
@media (prefers-color-scheme: dark) {
  :root {
    --Background: #0a0a0a;
    --foreground: #ededed;
  }
}

html, body {
  Background: var(--Background);
  color: var(--foreground);
  font-family: var(--font-poppins), Arial, sans-serif;
  -ms-overflow-style: none;
  scrollbar-width: none;
  overscroll-behavior: none;
  -webkit-overscroll-behavior: none;
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none;
  width: 0;
  height: 0;
}

* {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

*::-webkit-scrollbar {
  display: none;
}

.gallery-group:hover .gallery-image {
  @apply grayscale blur-[3px] transition-all duration-500;
}

.gallery-group:hover .gallery-image:hover {
  @apply grayscale-0 blur-none;
}
